<section>
  <mat-card>
    <div id="hr1"></div>
    <div class="actualite">
      <div class = "head-card">
        <img class="image" [src] = 'actu.image' />
      </div>
      <div class = "middle">
        <h3> {{actu.titre}} <span>{{actu.date}}</span></h3>
        <button class='edit' mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class = "body">
        <div class = "texte">
          {{actu.texte}}
        </div>
      </div>
    </div>
  </mat-card>
</section>
