<section>
  <mat-card>
    <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">insert_drive_file</mat-icon>Actualités</mat-card-title>
    <p>Quisque hendrerit, ante sit amet fermentum sollicitudin, nisl dui lobortis eros, a convallis est lacus a justo. Vestibulum rutrum sed augue ut faucibus.</p>
    <button (click)="goNews()" mat-button>Voir</button>
  </mat-card>
  <mat-card>
    <mat-card-title><mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>Trombinoscope</mat-card-title>
    <p>Curabitur at auctor nibh. Nullam purus ante, sollicitudin id ex et, sagittis consequat ex. Vestibulum pulvinar vitae enim sit amet ullamcorper. Quisque finibus placerat dignissim.</p>
    <button (click)="goTrombinoscope()" mat-button>Voir</button>
  </mat-card>
</section>
