.mainView {
  margin: auto;
  text-align: center;
}

h1 {
  top: 80px;
  font-size: 6em;
  position: relative;
}

p {
  font-size: 0.8em;
  color: #888;
}

a {
  color: orange;
  text-decoration: none;
}
