<section>
  <mat-card>
    <div id="hr1"></div>
    <div class = "head-card">
      <img mat-card-mat-image [src] = 'user.img' />
      <div class = "content">
        <h3>
          <span>{{user.prenom}} {{user.nom | uppercase}}</span>
        </h3>
        <span class = "role">
          {{user.role}}
        </span>
      </div>
    </div>
    <hr/>
    <div class = "body">
      <div class = "info">
        <span *ngIf="this.auth.user.uid === user.uid || userRole === 'Admin'">
          <button class='edit' mat-mini-fab (click)="showDialog(user)" *ngIf="dialogStatus == 'inactive'">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
        <mat-icon>email</mat-icon>
        <a
          class = "email"
          href = "mailto : {{user.prenom}} {{user.nom | uppercase}}&lt;{{user.email}}&gt;"
          title = "Envoyer un mail à {{user.prenom}} {{user.nom}}">
          {{user.email}}
        </a>
      </div>
      <div class = "info">
        <mat-icon>phone</mat-icon>
        <span
          class = "tel">
          {{user.tel}}
      </span>
      </div>
    </div>
  </mat-card>
</section>
