.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  background-color: #1565c0;
  width: 100%;
}

span {
  color: white;
}

a {
  transition-duration: 0.5s
}

a.active {
  transition-duration: 0.5s;
  background-color: #F5F5F5;
}

mat-sidenav {
  height: 100%;
}

.noms {
  bottom: 20px;
  left: 10px;
  color: #BBB;
  font-size: 0.8em;
  position: fixed;
}

.noms span {
  bottom: 10px;
  left: 10px;
  color: #BBB;
  font-size: 0.6em;
  position: fixed;
}

.btn {
  float: right;
  width: 100%;
  text-align: right;
  position: relative;
  padding-right: 30px;
}

.btn-link {
  margin: 10px;
}

.icon {
  top: 5px;
  width: 30px;
  height: 30px;
  position: relative;
}
