<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item href="#">Dashboard</a>
      <a [routerLink]="['/news']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item href="#">Actualités</a>
      <a [routerLink]="['/trombinoscope']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-list-item href="#">Trombinoscope</a>
    </mat-nav-list>
    <span class = "noms">K. OUALI & D. MAJKOWSKI <span>M2 GI - 2019/2020</span> </span>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Portail Web</span>
      <div class="btn">
        <a href="https://github.com/Akcil-Kouceila/PortailWeb_M2GI" target="_blank" class = "btn-link"> <img src="../assets/images/git-icon.png" alt="Git" class="icon"> </a>
        <a [routerLink]="['/login']" class = "btn-link" (click)="logout()"> <img src="../assets/images/out-icon.png" alt="Déconnexion" class="icon"> </a>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
